.centre{
    display: flex;
    flex-direction: column;
}

.centre h1{
    text-align: center;
}


.input-area{
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-bottom: 20px;
}

.input-area span{
    margin-right: 20px;
}
.input-area input {
    margin-right: 20px;
    line-height: 150%;
    border-radius: 5px;
    border:1px solid slategray;
}

.input-area .link{
    border-radius: 5px;
    border:1px solid slategray;
    box-shadow: none;
    padding:4px;
}
.input-area *{
    margin:auto;
}

